{# {% for proxy_default in proxy_defaults %}
{% for key, value in proxy_default.items() %}
nexus_repos_{{ key }}_proxy:
{% for team in teams %}
{% for default in value %}
  - name: {{ team.name }}
    format: {{ team.format }}
    online: {{ default.online }}
    blocked: {{ default.blocked }}
    auto_block: {{ default.auto_block }}
    remote:
      username: {{ default.remote.username }}
      password: {{ default.remote.password }}
    remoteUrl: {{ default.remote.url }}
    connection:
      useTrustStore: {{ default.connection.useTrustStore }}
      retries: {{ default.connection.retries }}
      user_agent_suffix: {{ default.connection.user_agent_suffix }}
      enable_cookies: {{ default.connection.enable_cookies }}
      enable_circular_redirects: {{ default.connection.enable_circular_redirects }}
      timeout: {{ default.connection.timeout }}
    maximum_component_age: {{ default.maximum_component_age }}
    maximum_metadata_age: {{ default.maximum_metadata_age }}
    negative_cache_enabled: {{ default.negative_cache_enabled }}
    negative_cache_ttl: {{ default.negative_cache_ttl }}
    cleanup_policies:
{% for policy in default.cleanup_policies %}
      - {{ policy }}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %} #}