---
nexus_routing_rules:
{% for item in nexus_repos_maven_proxy %}
{% if item.routing_rule_matcher is defined and item.routing_rule_matcher != None %}
    - name: {{ item.name }}-routing-rule
      description: Restrict only to {{ item.name }} images
      mode: Allow
      matchers:
{% for matcher in item.routing_rule_matcher %}
        - {{ matcher }}
{% endfor %}
{% endif %}
{% endfor %}
